__pycache__

# Build directories
_build/
build/

# User-specific CMake presets
CMakeUserPresets.json

# Miscellanous tools
.cline_storage/

# claude tmp files
.nfs*
shared/tensile/next-tuning/hipblaslt_kernels_gfx1201.dis
